In [2]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\ana\lib\site-packages (8.0.29)
Requirement already satisfied: protobuf>=3.0.0 in c:\ana\lib\site-packages (from mysql-connector-python) (4.21.2)

In [3]:
import mysql.connector as conn

In [4]:
mydb = conn.connect(host='localhost',user='root',passwd='Joeroot12345')

In [5]:
mydb

In [6]:
cursor = mydb.cursor()

In [24]:
cursor.execute("create database assignment_2")

In [25]:
cursor.execute("create table assignment_2.worker_table(worker_id INT(10),first_name VARCHAR(20),last_name VARCHAR(20),salary INT(10),Department VARCHAR(20))")

In [27]:
cursor.execute("insert into assignment_2.worker_table values(001,'MS','Dhoni',500000,'HR')")
cursor.execute("insert into assignment_2.worker_table values(002,'Virat','Kohli',450000,'HR')")
cursor.execute("insert into assignment_2.worker_table values(003,'Rohit','Sharma',400000,'HR')")
cursor.execute("insert into assignment_2.worker_table values(004,'KL','Rahul',400000,'Accounts')")
cursor.execute("insert into assignment_2.worker_table values(005,'Hardik','Pandya',350000,'Accounts')")
cursor.execute("insert into assignment_2.worker_table values(006,'Amitabh','singh',300000,'Development')")

In [28]:
mydb.commit()

# Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker_table.

In [30]:
cursor.execute("select substring(first_name,1,3) from assignment_2.worker_table")

In [31]:
cursor.fetchall()

[('MS',), ('Vir',), ('Roh',), ('KL',), ('Har',), ('Ami',)]

# Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.

In [7]:
cursor.execute("select INSTR(first_name,BINARY'a') from assignment_2.worker_table where first_name='Amitabh'")

In [8]:
cursor.fetchall()

[(1,)]

# Q-3. Write an SQL query to print the name of employees having the highest salary in each department

In [37]:
cursor.execute("select first_name,last_name,Department,Max(salary) as MaxSalary from assignment_2.worker_table group by Department")
cursor.fetchall()

[('MS', 'Dhoni', 'HR', 500000),
 ('KL', 'Rahul', 'Accounts', 400000),
 ('Amitabh', 'singh', 'Development', 300000)]