# Q-1. Write an SQL query to show only odd rows from aÂ table.

In [2]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\ana\lib\site-packages (8.0.29)
Requirement already satisfied: protobuf>=3.0.0 in c:\ana\lib\site-packages (from mysql-connector-python) (4.21.2)

In [1]:
import mysql.connector as conn

In [2]:
db = conn.connect(host="localhost",user="root",passwd="Joeroot12345",database="assignment_2")

In [3]:
cursor= db.cursor()

In [4]:
cursor.execute("select * from assignment_2.worker_table")
cursor.fetchall()

[(1, 'MS', 'Dhoni', 500000, 'HR'),
 (2, 'Virat', 'Kohli', 450000, 'HR'),
 (3, 'Rohit', 'Sharma', 400000, 'HR'),
 (4, 'KL', 'Rahul', 400000, 'Accounts'),
 (5, 'Hardik', 'Pandya', 350000, 'Accounts'),
 (6, 'Amitabh', 'singh', 300000, 'Development'),
 (7, 'vipul', 'sharma', 250000, 'testing'),
 (8, 'satish', 'kapoor', 200000, 'team_lead'),
 (7, 'vipul', 'sharma', 250000, 'testing'),
 (8, 'satish', 'kapoor', 200000, 'team_lead')]

In [6]:
cursor.execute("select * from worker_table where worker_id%2!=0")

In [7]:
cursor.fetchall()

[(1, 'MS', 'Dhoni', 500000, 'HR'),
 (3, 'Rohit', 'Sharma', 400000, 'HR'),
 (5, 'Hardik', 'Pandya', 350000, 'Accounts'),
 (7, 'vipul', 'sharma', 250000, 'testing'),
 (7, 'vipul', 'sharma', 250000, 'testing')]

# Q-14. Write an SQL query to clone a new table from another table.

In [12]:
cursor.execute("CREATE TABLE worker_clone SELECT * from  worker_table")

In [13]:
cursor.execute("select * from worker_clone")
cursor.fetchall()

[(1, 'MS', 'Dhoni', 500000, 'HR'),
 (2, 'Virat', 'Kohli', 450000, 'HR'),
 (3, 'Rohit', 'Sharma', 400000, 'HR'),
 (4, 'KL', 'Rahul', 400000, 'Accounts'),
 (5, 'Hardik', 'Pandya', 350000, 'Accounts'),
 (6, 'Amitabh', 'singh', 300000, 'Development'),
 (7, 'vipul', 'sharma', 250000, 'testing'),
 (8, 'satish', 'kapoor', 200000, 'team_lead'),
 (7, 'vipul', 'sharma', 250000, 'testing'),
 (8, 'satish', 'kapoor', 200000, 'team_lead')]