In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\ana\lib\site-packages (8.0.29)
Requirement already satisfied: protobuf>=3.0.0 in c:\ana\lib\site-packages (from mysql-connector-python) (4.21.2)

In [1]:
import mysql.connector as conn

In [2]:
db = conn.connect(host="localhost",user="root",passwd="Joeroot12345",database="assignment_2")

In [3]:
cursor=db.cursor()

In [4]:
cursor.execute("select * from worker_table")
cursor.fetchall()

[(1, 'MS', 'Dhoni', 500000, 'HR'),
 (2, 'Virat', 'Kohli', 450000, 'HR'),
 (3, 'Rohit', 'Sharma', 400000, 'HR'),
 (4, 'KL', 'Rahul', 400000, 'Accounts'),
 (5, 'Hardik', 'Pandya', 350000, 'Accounts'),
 (6, 'Amitabh', 'singh', 300000, 'Development'),
 (7, 'vipul', 'sharma', 250000, 'testing'),
 (8, 'satish', 'kapoor', 200000, 'team_lead'),
 (7, 'vipul', 'sharma', 250000, 'testing'),
 (8, 'satish', 'kapoor', 200000, 'team_lead'),
 (9, 'Abhishek', 'singh', 150000, 'coding'),
 (10, 'Ankita', 'verma', 100000, 'coding'),
 (11, 'pankhuri', 'singh', 150000, 'developer')]

# Q-1. Write an SQL query to show the top n (say 10) records of a table.

In [9]:
cursor.execute("select * from worker_table limit 10")
cursor.fetchall()

[(1, 'MS', 'Dhoni', 500000, 'HR'),
 (2, 'Virat', 'Kohli', 450000, 'HR'),
 (3, 'Rohit', 'Sharma', 400000, 'HR'),
 (4, 'KL', 'Rahul', 400000, 'Accounts'),
 (5, 'Hardik', 'Pandya', 350000, 'Accounts'),
 (6, 'Amitabh', 'singh', 300000, 'Development'),
 (7, 'vipul', 'sharma', 250000, 'testing'),
 (8, 'satish', 'kapoor', 200000, 'team_lead'),
 (7, 'vipul', 'sharma', 250000, 'testing'),
 (8, 'satish', 'kapoor', 200000, 'team_lead')]

# Q-2. Write an SQL query to determine the nth (say n=5) highest salary from a table.

In [9]:
cursor.execute("SELECT DISTINCT(Salary),first_name,last_name FROM Worker_table ORDER BY salary DESC LIMIT 1 OFFSET 5")

In [10]:
cursor.fetchall()

[(300000, 'Amitabh', 'singh')]