In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\ana\lib\site-packages (8.0.29)
Requirement already satisfied: protobuf>=3.0.0 in c:\ana\lib\site-packages (from mysql-connector-python) (4.21.2)

In [2]:
import mysql.connector as conn

In [3]:
db = conn.connect(host="localhost",user="root",passwd="Joeroot12345")

In [4]:
cursor= db.cursor()

In [16]:
cursor.execute("select * from assignment_2.worker_table")
cursor.fetchall()

[(1, 'MS', 'Dhoni', 500000, 'HR'),
 (2, 'Virat', 'Kohli', 450000, 'HR'),
 (3, 'Rohit', 'Sharma', 400000, 'HR'),
 (4, 'KL', 'Rahul', 400000, 'Accounts'),
 (5, 'Hardik', 'Pandya', 350000, 'Accounts'),
 (6, 'Amitabh', 'singh', 300000, 'Development'),
 (7, 'vipul', 'sharma', 250000, 'testing'),
 (8, 'satish', 'kapoor', 200000, 'team_lead'),
 (7, 'vipul', 'sharma', 250000, 'testing'),
 (8, 'satish', 'kapoor', 200000, 'team_lead')]

In [9]:
cursor.execute("insert into assignment_2.worker_table values(007,'vipul','sharma',250000,'testing')")
cursor.execute("insert into assignment_2.worker_table values(008,'satish','kapoor',200000,'team_lead')")
db.commit()

# Q-1. Write an SQL query to print details of workers excluding first names, “Vipul” and “Satish” from Worker table.

In [11]:
cursor.execute("select * from assignment_2.worker_table where first_name not in ('vipul','satish')")
cursor.fetchall()

[(1, 'MS', 'Dhoni', 500000, 'HR'),
 (2, 'Virat', 'Kohli', 450000, 'HR'),
 (3, 'Rohit', 'Sharma', 400000, 'HR'),
 (4, 'KL', 'Rahul', 400000, 'Accounts'),
 (5, 'Hardik', 'Pandya', 350000, 'Accounts'),
 (6, 'Amitabh', 'singh', 300000, 'Development')]

# Q-2. Write an SQL query to print details of the Workers whose FIRST_NAME ends with ‘h’ and contains six alphabets.

In [18]:
cursor.execute("select * from assignment_2.worker_table where first_name like '_____h' ")
cursor.fetchall()

[(8, 'satish', 'kapoor', 200000, 'team_lead'),
 (8, 'satish', 'kapoor', 200000, 'team_lead')]

# Q-3. Write a query to validate Email of Employee.

In [ ]:
('SELECT * FROM Worker WHERE email LIKE "%@%._%" ')