In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\ana\lib\site-packages (8.0.29)
Requirement already satisfied: protobuf>=3.0.0 in c:\ana\lib\site-packages (from mysql-connector-python) (4.21.2)

In [2]:
import mysql.connector as conn

In [3]:
db = conn.connect(host="localhost",user='root',passwd="Joeroot12345")

In [4]:
cursor = db.cursor()

In [6]:
cursor.execute("select * from assignment_2.worker_table")
cursor.fetchall()

[(1, 'MS', 'Dhoni', 500000, 'HR'),
 (2, 'Virat', 'Kohli', 450000, 'HR'),
 (3, 'Rohit', 'Sharma', 400000, 'HR'),
 (4, 'KL', 'Rahul', 400000, 'Accounts'),
 (5, 'Hardik', 'Pandya', 350000, 'Accounts'),
 (6, 'Amitabh', 'singh', 300000, 'Development')]

# Q-1. Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’ with ‘A’.

In [7]:
cursor.execute("select REPLACE(first_name,'a','A') from assignment_2.worker_table")
cursor.fetchall()

[('MS',), ('VirAt',), ('Rohit',), ('KL',), ('HArdik',), ('AmitAbh',)]

# Q-2. Write an SQL query to print all Worker details from the Worker table order by FIRST_NAME Ascending and DEPARTMENT Descending.

In [8]:
cursor.execute("Select * from assignment_2.worker_table order by first_name asc,Department desc")
cursor.fetchall()

[(6, 'Amitabh', 'singh', 300000, 'Development'),
 (5, 'Hardik', 'Pandya', 350000, 'Accounts'),
 (4, 'KL', 'Rahul', 400000, 'Accounts'),
 (1, 'MS', 'Dhoni', 500000, 'HR'),
 (3, 'Rohit', 'Sharma', 400000, 'HR'),
 (2, 'Virat', 'Kohli', 450000, 'HR')]

# Q-3. Write an SQL query to fetch the names of workers who earn the highest salary.

In [11]:
cursor.execute("select first_name,last_name salary, max(salary) from assignment_2.worker_table")
cursor.fetchall()

[('MS', 'Dhoni', 500000)]