# Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

In [ ]:
 (SELECT * FROM Worker WHERE YEAR(JOINING_DATE) = 2014 AND MONTH(JOINING_DATE) = 02)
    
    
    or
    
(SELECT * FROM Worker WHERE JOINING_DATE LIKE "%2014-02%")

# Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of a table.

In [ ]:
(SELECT column_name, COUNT(column_name) FROM Worker GROUP BY FIELD HAVING COUNT(column_name) > 1)

# Q-3. How to remove duplicate rows from Employees table.

In [ ]:
DELETE e1.* from employee e1 INNER JOIN employee e2 WHERE e1.id > e2.id AND e1.FIRST_NAME = e2.FIRST_NAME AND e1.LAST_NAME = e2.LAST_NAME AND e1.COUNTRY = e2.COUNT