In [3]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\ana\lib\site-packages (8.0.29)
Requirement already satisfied: protobuf>=3.0.0 in c:\ana\lib\site-packages (from mysql-connector-python) (4.21.2)

In [4]:
import mysql.connector as conn

In [5]:
db = conn.connect(host="localhost", user = "root",passwd="Joeroot12345")

In [6]:
cursor= db.cursor()

In [7]:
cursor.execute("select * from assignment_2.worker_table")
cursor.fetchall()

[(1, 'MS', 'Dhoni', 500000, 'HR'),
 (2, 'Virat', 'Kohli', 450000, 'HR'),
 (3, 'Rohit', 'Sharma', 400000, 'HR'),
 (4, 'KL', 'Rahul', 400000, 'Accounts'),
 (5, 'Hardik', 'Pandya', 350000, 'Accounts'),
 (6, 'Amitabh', 'singh', 300000, 'Development')]

# Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.

In [8]:
cursor.execute("select RTRIM(first_name) from assignment_2.worker_table")
cursor.fetchall()

[('MS',), ('Virat',), ('Rohit',), ('KL',), ('Hardik',), ('Amitabh',)]

# Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.

In [13]:
cursor.execute("select distinct length(Department),Department from assignment_2.worker_table")
cursor.fetchall()

[(2, 'HR'), (8, 'Accounts'), (11, 'Development')]

# Q-3. Write an SQL query to fetch nth max salaries from a table.

In [23]:
cursor.execute("select salary from assignment_2.worker_table order by salary DESC limit 6")

In [24]:
cursor.fetchall()

[(500000,), (450000,), (400000,), (400000,), (350000,), (300000,)]