In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\ana\lib\site-packages (8.0.29)
Requirement already satisfied: protobuf>=3.0.0 in c:\ana\lib\site-packages (from mysql-connector-python) (4.21.2)

In [2]:
import mysql.connector as conn

In [3]:
mydb = conn.connect(host='localhost',user='root',passwd='Joeroot12345')

In [4]:
mydb

In [5]:
cursor = mydb.cursor()

In [6]:
cursor.execute('create database assignment')

In [7]:
cursor.execute("create table assignment.worker_table(Worker_ID INT(10) , First_Name VARCHAR(20),Last_Name VARCHAR(10),Salary INT(10),Department VARCHAR(20))")

In [18]:
cursor.execute("insert into assignment.worker_table values(001, 'Sachin','Tendulkar',300000,'HR')")
cursor.execute("insert into assignment.worker_table values(002, 'Rahul','Dravid ',250000,'Admin')")
cursor.execute("insert into assignment.worker_table values(003, 'Virat','Kohli',200000,'developer')")
cursor.execute("insert into assignment.worker_table values(004, 'Amitabh','Bacchan',150000,'admin')")
cursor.execute("insert into assignment.worker_table values(005, 'MS','Dhoni',100000,'team_lead')")

In [39]:
cursor.execute("select * from assignment.worker_table")

In [40]:
cursor.fetchall()

[(1, 'Sachin', 'Tendulkar', 300000, 'HR'),
 (2, 'Rahul', 'Dravid ', 250000, 'Admin'),
 (3, 'Virat', 'Kohli', 200000, 'developer'),
 (4, 'Amitabh', 'Bacchan', 150000, 'admin'),
 (5, 'MS', 'Dhoni', 100000, 'team_lead'),
 (1, 'Sachin', 'Tendulkar', 300000, 'HR'),
 (2, 'Rahul', 'Dravid ', 250000, 'Admin'),
 (3, 'Virat', 'Kohli', 200000, 'developer'),
 (4, 'Amitabh', 'Bacchan', 150000, 'admin'),
 (5, 'MS', 'Dhoni', 100000, 'team_lead')]

In [19]:
mydb.commit()

# Q-1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias name as <WORKER_NAME>.

In [31]:
cursor.execute("select First_Name as Worker_Name from assignment.worker_table")

In [30]:
cursor.fetchall()

[('Sachin',),
 ('Rahul',),
 ('Virat',),
 ('Amitabh',),
 ('MS',),
 ('Sachin',),
 ('Rahul',),
 ('Virat',),
 ('Amitabh',),
 ('MS',)]

# Que -2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table.

In [35]:
cursor.execute("select DISTINCT Department from assignment.worker_table")

In [36]:
cursor.fetchall()

[('HR',), ('Admin',), ('developer',), ('team_lead',)]

# Q-3. Write an SQL query to show the last 5 record from a table.

In [42]:
cursor.execute("select * from assignment.worker_table order by worker_id DESC limit 5 ")

In [43]:
cursor.fetchall()

[(5, 'MS', 'Dhoni', 100000, 'team_lead'),
 (5, 'MS', 'Dhoni', 100000, 'team_lead'),
 (4, 'Amitabh', 'Bacchan', 150000, 'admin'),
 (4, 'Amitabh', 'Bacchan', 150000, 'admin'),
 (3, 'Virat', 'Kohli', 200000, 'developer')]